# this is the fp16_e_s3 branch
# git+https://github.com/matt-peters/allennlp.git@2d7ba1cb108428aaffe2dce875648253b44cb5ba

# TODO: when a package name is followed by a commented version number, remove version number where not necessary and enable it where necessary
spacy==2.3.7
#==2.0.0
#==3.2.4
scispacy==0.3.0

#en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz
#https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
#https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.0/en_core_sci_sm-0.5.0.tar.gz
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.3.0/en_core_sci_sm-0.3.0.tar.gz
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.3.0/en_core_sci_lg-0.3.0.tar.gz

pubtatortool
quickumls
seqeval
ipython
nltk
pytest

jedi==0.17.2
# TODO: 0.21.3, 0.22.2 or both? gpiat has found 0.21.3 is necessary but Gael has found 0.22.2 seems to work
scikit-learn==0.21.3
overrides==3.1.0

#prefer conda install in README
#torch==1.2.0

